@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
    padding:0;
    margin:0;
}

body {
  background:black ;
  padding:0;
  margin:0;
  
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

.header{
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background: black;
  gap:.5rem;
  padding: 10px 0%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  display: flex;
  
}
#menu-icon{
  background: transparent;
  border:none;
  font-size:1.7rem;
  margin-left:1%;
  color: cornsilk;
}
.acc-set{
  background: transparent;
  color:cornsilk;
  border:none;
  font-size:2rem;
  margin-right:1%;
}

.Logo{
  font-size: 1.7rem;
  color:cornsilk;
  text-decoration: none;
  margin-left: 3%
}
.Logo i{
  font-size : 4rem;
}

.menus a {
  font-size: 1.1rem;
  text-decoration: none;
  /* font-weight: 500; */
  margin-left: 1.3rem;
  transition:1s;
  
}
.active-header{
  font-weight: 900;
  
  color:#0ef;
}
.menus a:hover,
.menus a.active {
  color: #0ef;
}

.drawer{
  position:fixed;
  border-radius: 10px;
  opacity:1;
  margin-top:.5rem;
  left:0;
  margin-left:-30px;
  height:100%;
  background:#191717;
  width:0;
  transition: .5s;
  overflow-x: hidden;
  z-index:100;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-top:40px;
}
.drawer:hover{
  background:black;
}
.drawer a{
  width:100%;
  margin-top:6%;
  font-size: 1rem;
  color: cornsilk;
  text-decoration: none;
  padding-left:20px;
}
.drawer a:hover{
  background:#191717;
  width:100%;
  
  align-items: center;
  justify-content:center;
  padding:7px 10px 7px 20px;
}
.drawer.open {
  margin-left:0px;
  width: 180px;
  z-index:100;
}

.profile-container{
  width:0;
  height:0;
  border-radius: 20px;
  background:#081b29;
  position:fixed;
  margin-top:43px;
  right:.5%;
  display:flex;
  align-content: flex-start;
  flex-direction: column;
  z-index:0;
  transition: .5s;
  overflow: hidden;
  padding: 0;
}
.profile-container.open-acc-set{
  display: block;
  width:200px;
  height: 355px;
  z-index:100;
  border:1px solid #1f293a;
}
.blocks{
  width:100%;
  padding:10px 15px;
  cursor: pointer;
  border-bottom: .2px solid #1f293a;
}
.blocks:hover{
  background:#1f293a
}
.blocks button{
  background: transparent;
  border:none;
  outline:none;
  font-size: 15px;
  cursor: pointer;
}
.blocks a{
  text-decoration: none;
  font-size: 14px;
}
.x-btn{
  position:fixed;
  top:3px;
  right:30px;
  width:20px;
  height:20px;
  /* background:#332ab7; */
  border-radius: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.x-btn:hover{
  opacity:.7
}
.x-btn button{
  border:none;
  outline: none;
  background-color: transparent;
}
.x-btn button i{
  font-size: 25px;
  color: violet;
  font-weight: 700;
}
.login-box{
  display: none;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  border-radius: 40px;
  background:#081b29;
  border: 1px solid #018abe;
  z-index:100;
  overflow:hidden;
  transition:1s;
  
}


.login-wrapper{
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:20px;
  /* background: #c18620; */
  background:transparent;
  gap:5px;
}
.login-wrapper .colors{
  position:fixed;
  top:0;
  left:50%;
  width:190px;
  transform: translate(-50%);
  height:26px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background:transparent;
  padding:2px 2px;
}
.login-wrapper .colors button{
  width:20px;
  height:20px;
  border-radius: 50%;
  border:none;
  box-shadow: .2px .2px .4px black;
}
.login-wrapper .colors button:hover{
  opacity:.8
}
.color1{
  background:#87590a;
}
.color2{
  background:#332ab7;
}
.color3{
  background:#081b29;
}
.color4{
  background:#1f293a;
}
.color5{
  background:#191717;
}
.color6{
  background:#5d047a;
}
.color7{
  background:#872c0c;
}
.login-wrapper h2{
  font-size:2rem;
  color:#ad0f3e
}
.login-wrapper form{
  width:350px;
  height:400px;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
}
.login-input{
  width:250px;
  height:40px;
  background:transparent
}
.login-input input{
  width:100%;
  height:100%;
  background:transparent;
  color:#ededed;
  font-weight: 500;
  font-size: 15px;
  padding:10px 20px;
  transition:1s;
  outline:none;
  border:none;
  border: 3px solid #186b23;
  border-radius: 35px;
}
.login-box input:focus,
.login-box input:valid {
    border-color: #044c0b;
}
.forgot-pass{
  width:250px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.forgot-pass a{
  text-decoration: none;
  color:#ad0f3e;
  font-weight: 500;
}
.forgot-pass a:hover{
  color: red;
  text-decoration: underline;
}
.signin{
  width:250px;
  height:40px;
  border-radius: 35px;
  background:green
}
.signin:hover{
  background:darkgreen
}
.signin button{
  width:100%;
  height:100%;
  background:transparent;
  color:white;
  font-size: 18px;
  padding:5px 20px;
  outline:none;
  border:none;
  font-weight: 700;
}
.signup{
  width:250px;
  height:40px;
  border-radius: 30px;
 
}
.signup button{
  width:100%;
  height:100%;
  background:transparent;
  color:#ad0f3e;
  font-size: 18px;
  padding:10px 20px;
  outline:none;
  border:none;
  font-weight: 700;
}
.signup button:hover{
  color:red;
  text-decoration: underline;
}
@media(max-width:550px){
  .login-box{
    width: 300px;
    height:500px;
  }
  .login-wrapper form{
    width:260px;
    height:400px;
}
}



/* home code css */


.flex-container{
  margin:2% 0 2% 1%;
  width: 98%;
  background: transparent;
  height:auto;
  border-radius : 20px;
  display: grid;
  justify-items: center; /* Center the items horizontally within the grid tracks */
  align-content: center;
  grid-template-columns: repeat(2,1fr);
  column-gap:0;
  overflow: hidden;
  padding: 1px;
}
.box{
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 10px;
  width: 700px;
  height: 500px;
  background:#081b29;
  padding:10px;
  display: grid;
  grid-template-columns: 250px 400px;
  grid-gap: 1.5rem;
}
.Logo-con{
  display: flex;
  background: transparent;
  align-items:center;
  justify-content:center;
  padding:7px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
}
.Logo-con a{
  text-decoration: none;
  font-size: 5rem;
}
.Logo-con a i{
  color: white;
  font-size: 5rem;
}
.text-con{
  display:flex;
  background: transparent;
  align-items:center;
  justify-content:center;
  padding:10px;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
}
.text-con p{
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white
}
@media (max-width:1200px){
  .box{
    width:500px;
    height:320px;
    grid-template-columns: 180px 280px;
    grid-gap: 1.1rem;
  }
  .text-con p{
    font-size: 1.5rem;
  }
  .Logo-con a i{
    font-size: 3rem;
  }
  .Logo-con a{
    font-size: 3rem;
  }
}
@media (max-width:550px){
  .box{
    width:80%;
    grid-template-columns: 29% 68%;
    grid-gap: 1rem;
  }
  .text-con p{
    font-size: 1rem;
  }
  .Logo-con a i{
    font-size: 2rem;
  }
  .Logo-con a{
    font-size: 2rem;
  }
  .flex-container{
  grid-template-columns: repeat(1,1fr);
}
}


/* end of home code */



/* movies code css */
.container{
  width:100%;
  height:100%;
  margin-top:50px;
  position: relative; 
  background-color:black;
  transition:.5s;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding:5px;
  box-sizing: border-box;
}
.container.container-moved{
  margin-left:185px;
  width:100%;
}

.container.container-moved:hover{
  background:black
}


.section-container{
    width: 99%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 20px;
    justify-items: center;
    padding: 1% 0;
    row-gap: 1.5rem;
    column-gap: 1rem;
    background: transparent;
    box-sizing: border-box;
    margin-left:10px;
}

.photo-container{
  box-sizing: border-box;
  width: 255px;
  aspect-ratio:1/1.5;
  background-image:linear-gradient(45deg #0ef, cornsilk, crimson);
  position: relative;
  border-radius: 10px;
  border: 1px solid #d6ebee;
  position:relative;
  overflow: hidden;
}
.photo-container1{
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.marvel.com/content/1x/bigsalad_genavailposter_pay1_presunrise_v3_lg.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-containerall:hover {
  transform: scale(1.2);
  border: 1px solid #018abe;
}
.photo-container2{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BNzZmOTU1ZTEtYzVhNi00NzQxLWI5ZjAtNWNhNjEwY2E3YmZjXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container3{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BOTMyMjEyNzIzMV5BMl5BanBnXkFtZTgwNzIyNjU0NzE@._V1_FMjpg_UX1000_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container4{
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.europosters.eu/image/1300/posters/avengers-endgame-journey-s-end-i122136.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container5{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container6{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BNWM0ZGJlMzMtZmYwMi00NzI3LTgzMzMtNjMzNjliNDRmZmFlXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container7{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BNGVkNDc3NjUtNTY5ZS00ZmE0LWE3YzctMDk2OTRlNTdiZWQwXkEyXkFqcGdeQXVyMTU3NDg0OTgx._V1_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container8{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BYzJjMTYyMjQtZDI0My00ZjE2LTkyNGYtOTllNGQxNDMyZjE0XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_FMjpg_UX1000_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container9{
  width: 100%;
  height: 100%;
  background-image: url('https://www.themoviedb.org/t/p/original/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container10{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BZTNiNDA4NmMtNTExNi00YmViLWJkMDAtMDAxNmRjY2I2NDVjXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container11{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BMjQ2ODIyMjY4MF5BMl5BanBnXkFtZTgwNzY4ODI2NzM@._V1_FMjpg_UX1000_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}
.photo-container12{
  width: 100%;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/M/MV5BNDFjYTIxMjctYTQ2ZC00OGQ4LWE3OGYtNDdiMzNiNDZlMDAwXkEyXkFqcGdeQXVyNzI3NjY3NjQ@._V1_.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.5s, border 0.5s;
}

@media (max-width: 1400px) {
  .section-container {
    grid-template-columns: repeat(5, 1fr);  
  }
 
  .slide{
    width: 750px;
  }
  .service-content{
    width: 1050px;
  }
}

@media (max-width: 1120px) {
  .section-container {
    grid-template-columns: repeat(4, 1fr);  
  }
  
}

@media (max-width: 820px) {
  .section-container {
    grid-template-columns: repeat(3, 1fr);  
  }
 
  .menus a {
    font-size: 1rem;
  }
 
}

@media (max-width: 540px) {
  .section-container {
    grid-template-columns: repeat(2, 1fr);  
  }
  .Logo{
    font-size: 23px;
  }

  .drawer.open {  
    width: 40vw;  
  }
 
  .menus a {
    font-size: 1rem;
  }
  .photo-container{
    width:44vw;
  }
}

/* end of movies code css */


/* about code */

 .about-con{
  width: 100%;
  background: transparent;
  height:auto;
  overflow:hidden;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
 }
 .intro{
  width:100%;
  max-width: 750px;
  height: auto;
  background: transparent;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
 }
 .intro::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.intro::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.intro p{
  font-size:1.4rem;
}

 .intro h2{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
 }
 .intro h2 span{
  color: #0ef;
 }
 .intro h3 span{
  color: #0ef;
 }
 .intro h3{
  font-size: 1.6rem;
  font-weight: 500;
}
span[contenteditable="true"] {
  text-decoration: none;
  text-decoration-skip-ink: none;
  outline: none; /* Optional: Remove focus outline */
}
 .imge{
  width:100%;
  max-width: 500px;
  height: 500px;
  background-image: url('https://media.zicxa.com/2345229');
  background-size: 150%;
  background-position: 50% 10px;
  background-repeat: no-repeat
 }

 .home-sci {
  position: relative;
  margin-top:50px;
  left:50%;
  transform: translate(-50%);
  bottom: 40px;
  width: 200px; 
  display: flex;
  justify-content: space-between;
}

.home-sci::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 0s;
  z-index: 2;
}

.home-sci a{
  display: inline-flex;
  width:40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .7s;
  position: relative;
}

.home-sci a::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 0;
  height: 100%;
  background:#0ef;
  z-index: -1;
  transition: .7s;
}

.home-sci a:hover::before{
  width: 100%;
}
.home-sci a i{
  color:#0ef;
  transition:.8s;
}
.home-sci a i:hover{
  color: #1f293a;
}
@keyframes showRight{
  100%{
      width:0;
  }
}
@media (max-width:1000px){
  .intro{
    width: 650px;
  }
  .imge{
    display:none;
  }
 }
 @media (max-width:1000px){
  .about-con{
  background-image: url('https://media.zicxa.com/2345229');
  background-size: 600px;
  background-position: 50% 10px;
  background-repeat: no-repeat
  }
 }

/* end of the about code */



/* services code */

 .service-container{
  width: 100%;
  margin:20px 0;
  background: transparent;
  box-sizing: border-box;
  border-radius: 30px;
  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding:10px
 }
 .slide{
    padding:10px;
    width:100%;
    max-width:800px;
    aspect-ratio: 1/0.5;
    /* background: #081b29; */
    border:.2px solid #191717;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
 }
 .slide-con{
  width: 100%;
  height: 100%;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  background-color:transparent;
  position: relative;
 }
 #image-track{
  display:flex;
  gap: 4vmin;
  position:absolute;
  left:40%;
  top:10%;
  padding:25px;
  background: transparent;
  /* transform: translate(-50%,-50%); */
  z-index: 6;
  margin-bottom: 30px; 
}
#image-track > .image{
  width:200px;
  height:300px;
  object-fit:cover;
  object-position: center;
  border-radius:15px;
}
.slide-p{
  position:relative;
  left:50%;
  bottom:0;
  transform: translateX(-50%);
  padding: 10px;
  background: transparent;
  width:100%;

}
.slide-p p{
  font-size: 15px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.slide-p p span{
  color: #0ef;
  font-size: 17px;
}
 .service-content{
  position:relative;
  width:auto;
  background: transparent;
  border-radius: 10px;
  display:grid;
  column-gap: 65px;
  row-gap: 85px;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  align-items: center;
  padding:75px 15px 15px 15px
 }
 .services-boxes{
  width:290px;
  height:180px;
  transition:.5s;
  position: relative;
  background:#008080;
  border-radius: 12px;
 }
 .services-boxes:hover{
  height: 380px;
 }
 .lines{
  position:absolute;
  inset:0;
  background: #081b29;
  overflow: hidden;
  border-radius: 5px;
 }
 .lines::before{
  position:absolute;
  content:'';
  height:120px;
  width: 600px;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(transparent, #0ef,#0ef,#0ef,transparent);
  animation: animate 4s linear infinite;
 }
 .lines::after{
  content:'';
  inset: 3px;
  background: #081b29;
  position: absolute;
 }
 @keyframes animate{
  0%{
    transform: translate(-50%,-50%) rotate(0deg)
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg)
  }
 }
 .img-bx{
  position: absolute;
  width: 130px;
  height: 130px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background: black;
  z-index: 10;
  transition: .5s;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #008080;
 }
 .services-boxes:hover .img-bx{
  width:100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
 }
 .img-bx:before{
  content:'';
  position: absolute;
  top:50%;
  width: 500px;
  height:100px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(transparent,red,red,red,transparent);
  animation:animate2 6s linear infinite;
 }
 .img-bx::after{
  content:'';
  inset:3px;
  position: absolute;
  background:black
 }
 .img-bx img{
  position: absolute;
  z-index: 1;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 5px;
  top: 5px;
 }
 @keyframes animate2{
  0%{
    transform: translate(-50%,-50%) rotate(360deg)
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg)
  }
 }
 .mov-con{
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
 }
 .detail{
  padding: 30px;
  width: 100%;
  transition:.5s;
  text-align: center;
  transform: translateY(145px);
 }
 .services-boxes:hover .mov-con .detail{
  transform: translateY(0px);
 }
.detail h2 {
  padding-bottom:2px;
  font-size: 30px;
  font-weight: 800;
  color: #0ef;
  line-height: 1;
  text-shadow: 1px 1px 2px black;
}
.detail h2 span{
  font-size: 22px;
  color:#0ef;
  font-weight: 500;
  text-shadow: 1px 1px 2px black;
}
.data{
  display:flex;
  justify-content: space-between;
  margin: 25px 0
}
.data h3{
  font-size: 23px;
  color: #0ef;
  line-height: 22px;
  font-weight: 600px;
  text-shadow: 1px 1px 2px black;
}
.data h3 span{
  font-size: 13px;
  font-weight: 500;
  color: goldenrod;
  text-shadow: 1px 1px 1px grey;
}
.data h3 span:hover{
  color: gold;
}
.detail .action-btn{
  display: flex;
  justify-content: space-evenly;
  gap: 20px; 
}
.detail .action-btn button{
  font-weight: 500;
  font-size: 14px;
  padding: 2px 8px;
  border:none;
  outline: none;
  border-radius: 5px;
  background: #0ef;
  cursor: pointer;
  color: black;
  box-shadow: 1px 1px 1px 1px grey;
  opacity: .8;
  transition: .5s;
}
.detail .action-btn button:hover{
  background: black;
  color: #0ef
}
@media(max-width:1400px){
  .service-content{
    grid-template-columns: repeat(3,1fr);
  }
}
@media(max-width:1100px){
  .service-content{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:850px){
  .slide{
    width: 700px;
    height:400px;
  }
}
@media(max-width:750px){
  .service-content{
    grid-template-columns: repeat(1,1fr);
  }
  .slide-p p{
    font-size: 13px;
  }
  .slide-p p span{
    font-size: 14px;
  }
  .slide{
    width: 500px;
    height:400px;
  }
}
@media(max-width:550px){
  .slide-p p{
    font-size: 12px;
  }
  .slide-p p span{
    font-size: 13px;
  }
  .slide{
    width: 95%;
    height: 400px;
  }
  #image-track {
    left: 40%;
  }
}


/* services code end */



/* contact code */


.contact{
  max-width: 1050px;
  width:100%;
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%);
  margin-top: 5rem;
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact h2{
  margin-bottom : 3rem;
}
.contact h2 span{
  color: #0ef
}
.contact form{
  width:100%;
  max-width: 1000px;
  margin: 0;
  text-align: center;
  margin-bottom: 3rem;
  background: transparent;
  padding: 20px;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 13px;
  font-size: 18px;
  color: #f1f1f1;
  background: #081b29;
  border:none;
  border-radius:28px;
  margin: .7rem 0;
  outline: none;
}

.contact form .input-box input{
  width: 49%;
}
.contact form textarea {
  resize:none;
}
@media (max-width:700px){
  .contact form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact form .input-box{
    justify-content: center;
    align-items: center;
  }
  .contact form .input-box input{
    width:80%;
    height:55px;
  }
  .contact form textarea{
    width:90%;
  }
}

.contact form .con-btn{
  cursor:pointer;
  margin-top: 1rem;
}

.con-btn {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 130px;
  height:40px;
  display: inline-flex;
  background: #0ef;
  border : 2px solid #0ef;
  border-radius: 20px;
  font-size: 13px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  
}
.con-btn:hover {   
  color:#0ef;
  background: #081b29;
}


/* contact code end */
/* footer code */
#footer{
  margin-top: 2%;
  position: relative;
  left:9%;
  bottom:0;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 5;
  background: black;
  opacity: .7;
  transition:.5s;
  padding: 12px 0;
  /* border-top: 1px solid cornsilk;
  border-bottom: 1px solid cornsilk; */
}

#footer a{
  text-decoration: none;
  font-size:1rem;
  
  margin-left: 20px;
  transition:.3s;
}
.active-footer{
  
  color:#0ef;
  font-weight: bolder;
}
#footer a:hover,
#footer a.active{
  color: #0ef;
}
.footer-moved{
  z-index:1;
}